<div style="margin-top:0px">
    <div style="text-align:center">
        <h2>Hikaru Takaoka</h2>
        <p>
            hktakaoka@live.com
            <br />
            123-456-7890
            <br />
            10181 Park Meadows Dr. Lone Tree, CO
        </p>
    </div>

    <div style="text-align:left">
        <b><u>EDUCATION</u></b>
        <br />
        <b>Bachelors in Computer Information Systems</b>
        <br />
        Colorado State University – Pueblo, Pueblo, Colorado
        <br /><br />
        <b>Associates in General Studies</b>
        <br />
        Pueblo Community College, Pueblo, Colorado
        <br /><br />
    </div>

    <div style="text-align:left;">
        <b><u>WORK HISTORY</u></b>
    </div>
    <div class="workExperience" style="text-align:left;">
        <div style="float:left">
            <b>Software Applications Engineer</b>
        </div>
        <div style="float:right;">
            <b><i>(January 2014 - Present)</i></b>
        </div>
        <br />
        <div style="float:left">
            <b>Charles Schwab</b>
        </div>
        <div style="float:right;">
            <b><i>Lone Tree, Colorado</i></b>
        </div>
        <br /><br />
        <ul>
            <li>Worked in various teams as a full stack .NET developer (C#) using the Agile methodology.</li>
            <li>Developed and converted an internal Citrix WinForms application to an AngularJS application that was used for portfolio management. Both applications were used by many managers concurrently and provided the most live data when possible. Provided enhancements and production support for both applications while they were live.</li>
            <li>Worked on a C#/AngularJS application that provided middle office users functionality needed to replace the legacy systems. The system automated many tasks that were once manual processes.</li>
            <li>Created and supported modules and windows services used with Kofax Capture. Many of these were used to support various functions such as logging that was needed for Splunk.</li>
            <li>Wrote T-SQL stored procedures that handled incoming data left behind from many SSIS packages that was gathered from various vendors such as FTSE and parsed it so that it could be used by various applications. Other stored procedures were used to support CRUD operations for applications.</li>
            <li>Managed TFS source control for various teams, which included automated builds and gated check-ins, branching, and deployments for all environments.</li>
        </ul>
        <br />
        <div style="float:left">
            <b>Library Technology Technician</b>
        </div>
        <div style="float:right;">
            <b><i>(December 2013 – January 2014)</i></b>
        </div>
        <br />
        <div style="float:left">
            <b>Galileo School of Math and Science</b>
        </div>
        <div style="float:right;">
            <b><i>Colorado Springs, Colorado</i></b>
        </div>
        <br /><br />
        <ul>
            <li>Provided first line technical support for all students and staff.</li>
            <li>Maintained and supported printers, digital duplicators, and scanners used by staff and students.</li>
            <li>Troubleshoot network connectivity issues with faculty and staff.</li>
            <li>Reimaged laptops and desktops.</li>
            <li>Monitored a computer lab and testing environment of up to 30 students.</li>
        </ul>
        <br />
        <div style="float:left">
            <b>Network Administrator/Support Tech</b>
        </div>
        <div style="float:right;">
            <b><i>(June 2013 – January 2014)</i></b>
        </div>
        <br />
        <div style="float:left">
            <b>Scholars to Leaders Academy</b>
        </div>
        <div style="float:right;">
            <b><i>Colorado Springs, Colorado</i></b>
        </div>
        <br /><br />
        <ul>
            <li>Restored computer network after a server crash, including migrating missing server roles to remaining Windows 2003 server.</li>
            <li>Administered user accounts and group policies to faculty, teachers, and students.</li>
            <li>Managed network devices in the building, including adding/removing/reconfiguring switches, access points, and routers.</li>
            <li>Troubleshoot network connectivity issues with faculty and staff.</li>
            <li>Performed malware/virus removal on computer and laptops.</li>
        </ul>
        <br />
        <div style="text-align:left;">
            <b><u>TECHNICAL SKILLS</u></b>
        </div>
        <br />
        Visual Studio (2013/2015), Team Foundation Server 2013, JIRA, LINQpad, SQL Server Management Studio 2013, Kofax Capture, C#,
        T-SQL, HTML, JavaScript, CSS, AngularJS 1.*, Bootstrap, F#, WPF, MVC, JSON, LINQ, JQuery
    </div>
</div>