<div class="row">
    <div class="col-xs-6 col-md-4">
        <image-box class="hikingImage"
                   thumb="images/thumb20150927_103253.jpg"
                   src="images/20150927_103253.jpg"
                   expand="main.openImage('images/20150927_103253.jpg')"
                   width="300"
                   height="300"
                   title="Bison Peak"
                   description="The first 'false' summit. The surrounding area is above treeline. "></image-box>
    </div>
    <div class="col-xs-6 col-md-4">
        <image-box class="hikingImage"
                   thumb="images/thumb20150531_095344.jpg"
                   src="images/20150531_095344.jpg"
                   width="300"
                   height="300"
                   title="Twin Sister's peak"
                   description="Wasn't very snowy, but a interesting view."></image-box>
    </div>
    <div class="col-xs-6 col-md-4">
        <image-box class="hikingImage"
                   thumb="images/thumb20141011_104652.jpg"
                   src="images/20141011_104652.jpg"
                   width="300"
                   height="300"
                   title="Quandary Peak"
                   description="Quandary Peak in October. Quite cold and bad visibility."></image-box>
    </div>
    <div class="col-xs-6 col-md-4">
        <image-box class="hikingImage"
                   thumb="images/thumb20140920_103255.jpg"
                   src="images/20140920_103255.jpg"
                   width="300"
                   height="300"
                   title="Mt. Parnassus"
                   description="The saddle, on the way to the top of the peak."></image-box>
    </div>

    <div class="col-xs-6 col-md-4">
        <image-box class="hikingImage"
                   thumb="images/thumb20140719_104301.jpg"
                   src="images/20140719_104301.jpg"
                   width="300"
                   height="300"
                   title="Whale Peak"
                   description="Near the peak, overlooking Gibson Lake"></image-box>
    </div>

    <div class="col-xs-6 col-md-4">
        <image-box class="hikingImage"
                   thumb="images/thumb20140719_104301.jpg"
                   src="images/20140719_104301.jpg"
                   width="300"
                   height="300"
                   title="Whale Peak"
                   description="Near the peak, overlooking Gibson Lake"></image-box>
    </div>

    <div class="col-xs-6 col-md-4">
        <image-box class="hikingImage"
                   thumb="images/thumb20140719_104301.jpg"
                   src="images/20140719_104301.jpg"
                   width="300"
                   height="300"
                   title="Whale Peak"
                   description="Near the peak, overlooking Gibson Lake"></image-box>
    </div>
</div>